@model WebsiteBanHang.Connect.User

@{
    ViewBag.Title = "Delete";
}

<div class="content-wrapper">

    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-danger text-white text-center">
                <h3>Xóa người dùng</h3>
            </div>
            <div class="card-body">
                <h5 class="mb-4">Are you sure you want to delete this user?</h5>
                <!-- Hiển thị thông báo lỗi -->
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Tên đăng nhập</td>
                            <td>@Html.DisplayFor(model => model.UserName)</td>
                        </tr>
                        <tr>
                            <td>Mật khẩu</td>
                            <td>@Html.DisplayFor(model => model.Password)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>
                        <tr>
                            <td>Tên</td>
                            <td>@Html.DisplayFor(model => model.FirstName)</td>
                        </tr>
                        <tr>
                            <td>Họ</td>
                            <td>@Html.DisplayFor(model => model.LastName)</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                        </tr>
                        <tr>
                            <td>Quyền</td>
                            <td>@Html.DisplayFor(model => model.IsAdmin)</td>
                        </tr>
                    </tbody>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                        @Html.ActionLink("Thoát", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>