@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Connect.product>

@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <p>
        @Html.ActionLink("Thêm", "Create")
    </p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {   
        <p>
            Tìm kiếm sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                Tên
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Chi tiết
            </th>
            <th>
                Miêu tả
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var firstImage = item.product_images.FirstOrDefault(); // Lấy ảnh đầu tiên, nếu có

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @if (firstImage != null)
                    {
                        <img src="~/Content/images/items/@Url.Content(firstImage.image_url)" alt="Ảnh" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>Không có ảnh</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>
